html{
    font-size: 10px;
}

h1{
    font-size: 3rem;
}

.row-flex{
    display: flex;
}

.character-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

main {
    display: flex;
}

img{
    width: 150px;
    padding: 5px;
}

#guess-box{
    display: flex;
    flex-direction: column;
}

#instruction{
    width: 40vw;
    background-color: #9DF7E5;
}

#game{
    width:60vw;
    background-color: #9DF7E5;
}

p{
    font-size: 2.5rem;
}

#instruction h2{
    font-size: 3rem;
}

audio{
    width: 150px;
}

#bunny-box{
    display: flex;
    flex-direction: column;
}

#bunny-box-full{
    display: flex
}

.button-style{
    background-color: #D0A5C0;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    cursor: pointer;
    width: 15rem;
}

#counter-box{
    border: 1px solid black;
    width:fit-content;
    padding: 5px 10px;
}

.gameOver{
    text-align: center;
}