html{
    font-size: 10px;
}

h1{
    font-size: 3rem;
}

.row-flex{
    display: flex;
}

.character-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

main {
    display: flex;
}

img{
    width: 150px;
    padding: 5px;
}

#guess-box{
    display: flex;
    flex-direction: column;
}

#instruction{
    width: 40vw
}

#game{
    width:60vw
}

p{
    font-size: 3rem;
}

#instruction h2{
    font-size: 3rem;
}