

@media (min-width: 1495px) {
    

html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #9DF7E5;
}

h1{
    font-size: 3.5rem;
}


.row-flex{
    display: flex;
    justify-content: end;
}

#guess-history{
    font-size: 1.2rem;
}

.character-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 180px; */
    width: 10vw;
    border: 1px solid black;
    padding-bottom: 5px;
}

.character-flex h2{
    margin: 5px 0;
}

main {
    display: flex;
}

img{
    /* width: 150px; */
    padding-top: 5px;
    width: 8vw;
}

#guess-box{
    display: flex;
    flex-direction: column;
}

#guess-box h2{
    margin-top: 0
}

#instruction{
    width: 80rem;
    background-color: #9DF7E5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 15px;
}

#instruction h2{
    text-decoration: underline;
    margin-bottom: auto
}

#game{
    width:60vw;
    background-color: #9DF7E5;
}

p{
    font-size: 2.5rem;
}

#instruction h2{
    font-size: 3rem;
    padding-top: 10px;
margin-right: 5px;}

instruction p{
    margin: 0
}

audio{
    /* width: 150px; */
    height: 20px;
    width: 8vw;
}

#bunny-box{
    display: flex;
    flex-direction: column;
}

#bunny-box-full{
    display: flex
}

.button-style{
    background-color: #D0A5C0;
    border: none;
    border-radius: 1rem;
    height: auto;
    cursor: pointer;
    width: auto;
    font-size: 2.5rem;
}
/* //font size   1.3rem */
/* height 3rem */
/* width 14.5rem */

#counter-box{
    border: 3px solid black;
    width:fit-content;
    padding: 5px 10px;
    /* position:fixed; */
    bottom: 0;
}

#counter-box-smallscreen{
display: none};

.gameOver{
    text-align: center;
    display: flex;
    align-items: center;
}

#bunny-buttons{
    display: flex;
}


renderGuessbox{
    display: flex;
}

.endGameFlex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    text-align: center;
}

#myIdentityGuess{
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.smallscreen-wonder{
    display: none
}

#one-hit-wonder-flex{
    display: flex;
}

#counter-and-history{
    display: flex;
    align-items: center;
}

}

@media (min-width: 1221px) and (max-width: 1494px){
        

    html{
        font-size: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #9DF7E5;
    }
    
    h1{
        font-size: 3.5rem;
    }
    
    .row-flex{
        display: flex;
        justify-content: end;
    }
    
    .character-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 180px; */
        width: 10vw;
        border: 1px solid black;
        padding-bottom: 5px;
    }
    
    .character-flex h2{
        margin: 5px 0;
    }
    
    main {
        display: flex;
    }
    
    img{
        /* width: 150px; */
        padding-top: 5px;
        width: 8vw;
    }
    
    #guess-box{
        display: flex;
        flex-direction: column;
    }
    
    #guess-box h2{
        margin-top: 0
    }
    
    #instruction{
        width: 80rem;
        background-color: #9DF7E5;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 15px;
    }
    
    #instruction h2{
        text-decoration: underline;
        margin-bottom: auto
    }
    
    #game{
        width:60vw;
        background-color: #9DF7E5;
    }
    
    p{
        font-size: 2.5rem;
    }
    
    #instruction h2{
        font-size: 3rem;
        padding-top: 10px;
    }
    
    instruction p{
        margin: 0
    }
    
    audio{
        /* width: 150px; */
        height: 20px;
        width: 8vw;
    }
    
    #bunny-box{
        display: flex;
        flex-direction: column;
    }
    
    #bunny-box-full{
        display: flex
    }
    
    .button-style{
        background-color: #D0A5C0;
        border: none;
        border-radius: 1rem;
        height: auto;
        cursor: pointer;
        width: auto;
        font-size: 2.5rem;
    }
    /* //font size   1.3rem */
    /* height 3rem */
    /* width 14.5rem */
    
    #counter-box{
        border: 3px solid black;
        width:fit-content;
        padding: 5px 10px;
        bottom: 0;
        display: none;
    }

    #counter-box-smallscreen{
        border: 3px solid black;
        width:fit-content;
        padding: 5px 10px;
        bottom: 0;
        right: 5px;
        position: fixed;

    }
    
    .gameOver{
        text-align: center;
        display: flex;
        align-items: center;
    }
    
    #bunny-buttons{
        display: flex;
    }
    
    
    renderGuessbox{
        display: flex;
    }
    
    .endGameFlex{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        text-align: center;
    }
    
    #myIdentityGuess{
        height: 30px;
        border: 1px solid black;
        border-radius: 10px;
    }

    .smallscreen-wonder{
        display: none
    }
    
    }

@media (max-width: 1220px){
        

        html{
            font-size: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #9DF7E5;
        }
        
        h1{
            font-size: 3.5rem;
        }
        
        .row-flex{
            display: flex;
            justify-content: end;
        }
        
        .character-flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* width: 180px; */
            width: 10vw;
            border: 1px solid black;
            padding-bottom: 5px;
        }
        
        .character-flex h2{
            margin: 5px 0;
        }
        
        main {
            display: flex;
        }
        
        img{
            /* width: 150px; */
            padding-top: 5px;
            width: 8vw;
        }
        
        #guess-box{
            display: flex;
            flex-direction: column;
        }
        
        #guess-box h2{
            margin-top: 0
        }
        
        #instruction{
            width: 80rem;
            background-color: #9DF7E5;
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding-left: 15px;
        }
        
        #instruction h2{
            text-decoration: underline;
            margin-bottom: auto
        }
        
        #game{
            width:60vw;
            background-color: #9DF7E5;
        }
        
        p{
            font-size: 2.5rem;
        }
        
        #instruction h2{
            font-size: 3rem;
            padding-top: 10px;
        }
        
        instruction p{
            margin: 0
        }
        
        audio{
            /* width: 150px; */
            height: 20px;
            width: 8vw;
        }
        
        #bunny-box{
            display: flex;
            flex-direction: column;
        }
        
        #bunny-box-full{
            display: flex
        }
        
        .button-style{
            background-color: #D0A5C0;
            border: none;
            border-radius: 1rem;
            height: auto;
            cursor: pointer;
            width: auto;
            font-size: 2.5rem;
        }
        /* //font size   1.3rem */
        /* height 3rem */
        /* width 14.5rem */
        
        #counter-box{
            border: 3px solid black;
            width:fit-content;
            padding: 5px 10px;
            bottom: 0;
            display: none;
        }
    
        #counter-box-smallscreen{
            border: 3px solid black;
            width:fit-content;
            padding: 5px 10px;
            bottom: 0;
            right: 5px;
            position: fixed;
    
        }
        
        .gameOver{
            text-align: center;
            display: flex;
            align-items: center;
        }
        
        #bunny-buttons{
            display: flex;
        }
        
        
        renderGuessbox{
            display: flex;
        }
        
        .endGameFlex{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            text-align: center;
        }
        
        #myIdentityGuess{
            height: 30px;
            border: 1px solid black;
            border-radius: 10px;
        }

        .bigscreen-wonder{
            display: none;
        }

        .smallscreen-wonder{
            position: fixed;
            bottom: 0;
            margin-bottom: 25px;
        }

        .smallscreen-wonder h2{
            font-size: 3rem;
            text-decoration: underline;
        }
        
        }